<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}">个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{/components/navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--div. 类样式 在加 tab键 对界面进行适配-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media" th:each="question :${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" src="https://avatars2.githubusercontent.com/u/53986967?v=4" th:src="${question.user.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{/question/{id}(id = ${question.id})}"><span th:text="${question.title}"></span></a></h4>
                    <span class="text-color"><span th:text="${question.commentCount}"></span>个回复 • <span th:text="${question.viewCount}"></span> 次浏览 • <span th:text="${#dates.format(question.gmtModified, 'yyyy/MM/dd HH:mm')}"></span></span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation" class="show-page" th:if="${pagination.totalPage !=0}">
                    <ul class="pagination">
                        <li th:if="${pagination.currentPage} - 3 > 1">
                            <a th:href="@{${#request.getContextPath()}(page =1)}" aria-label="返回第一页">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.currentPage !=1}">
                            <a th:href="@{${#request.getContextPath()}(page = ${pagination.currentPage -1})}" aria-label="上一页">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li  th:each="i:${#numbers.sequence(((pagination.currentPage)-3 >0? (pagination.currentPage)-4:0) ,(pagination.currentPage + 2 < pagination.totalPage ? pagination.currentPage + 2 : (pagination.totalPage)-1))}" th:class="${pagination.currentPage == (i+1)} ? 'active' :''">
                            <a th:href="@{${#request.getContextPath()}(page = ${i}+1)}"><span th:text="${i+1}"></span></a>
                        </li>
                        <li th:if="${pagination.currentPage} + 1 < ${pagination.totalPage}">
                            <a th:href="@{${#request.getContextPath()}(page = ${pagination.currentPage +1})}" aria-label="下一页">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.currentPage} + 3 < ${pagination.totalPage}">
                            <a th:href="@{${#request.getContextPath()}(page = ${pagination.totalPage})}" aria-label="返回最后一页">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item active" th:class="${section} eq 'questions' ? 'list-group-item active':'list-group-item'">我的问题
                    <span class="badge" th:text="${pagination.totalCount}"></span>
                </a>
                <a href="/profile/replies" class="list-group-item" th:class="${section} eq 'replies' ? 'list-group-item active':'list-group-item'">最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>