<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}">问题详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{/components/navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--div. 类样式 在加 tab键 对界面进行适配-->
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <!--正文-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3><span th:text="${question.title}"></span></h3>
                    <span class="text-color">
                作者 :  <span th:text="${question.user.name}"></span> &nbsp;|&nbsp;
                发布时间 :  <span th:text="${#dates.format(question.gmtModified, 'yyyy/MM/dd HH:mm')}"></span>&nbsp;|&nbsp;
                阅读数 :  <span th:text="${question.viewCount}"></span>
            </span>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/publish/{id}(id = ${question.id})}" class="community-menu" th:if="${session.user != null and session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        编辑
                    </a>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
                <h3 class="community-text">
                    <span th:text="${question.commentCount}"></span>个回复
                </h3>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 community-hr">
                <!--回复-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="media comments" th:each="comment : ${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" src="https://avatars2.githubusercontent.com/u/53986967?v=4" th:src="${comment.user.avatarUrl}" alt="头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h6>
                            <div th:text="${comment.content}"></div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon" aria-hidden="true" th:text="${comment.likeCount}"></span>
                                <span class="glyphicon glyphicon-comment icon" aria-hidden="true" th:data-id="${comment.id}" th:text="${comment.commentCount}"  onclick="collapseComments(this)"></span>
                                <span class="pull-right" th:text="${#dates.format(comment.gmtModified, 'yyyy/MM/dd')}"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-' + comment.id }">
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control sub-comment-text" placeholder="评论一下" th:id="${'input-' + comment.id }"/>
                                    <button type="button" class="btn btn-success btn-position" th:data-id="${comment.id}" onclick="comment(this)">评论</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--回复输入框-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" src="https://avatars2.githubusercontent.com/u/53986967?v=4" th:src="${question.user.avatarUrl}" alt="头像">
                            </a>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h6>
                        </div>
                    </div>
                    <input type="hidden" id="questionId" name="questionId" th:value="${question.id}">
                    <textarea class="form-control content" id="comment_content" name="comment_content" rows="8"></textarea>
                    <button type="button" class="btn btn-success btn-position" onclick="postData()">回复</button>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <br>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="https://avatars2.githubusercontent.com/u/53986967?v=4" th:src="${question.user.avatarUrl}" alt="头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">
                          <span th:text="${question.user.name}"></span>
                        </h6>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>